<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="container" th:fragment="footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">&copy; 2023 made by 장성준</div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><img src="/icon/threads.svg" class="bi" width="24" height="24"></li>
      <li class="ms-3"><img src="/icon/instagram.svg" class="bi" width="24" height="24"></li>
      <li class="ms-3"><img src="/icon/facebook.svg" class="bi" width="24" height="24"></li>
    </ul>
  </footer>
</div>
