<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav class="py-2 bg-body-tertiary border-bottom" th:fragment="nav">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item active"><a class="nav-link link-body-emphasis px-2" href="/?genre=판타지">판타지</a></li>
      <li class="nav-item active"><a class="nav-link link-body-emphasis px-2" href="/?genre=무협">무협</a></li>
      <li class="nav-item active"><a class="nav-link link-body-emphasis px-2" href="/?genre=현대">현대</a></li>
      <li class="nav-item active"><a class="nav-link link-body-emphasis px-2" href="/?genre=로맨스">로맨스</a></li>
      <li class="nav-item active"><a class="nav-link link-body-emphasis px-2" href="/?genre=역사">역사</a></li>
    </ul>

    <ul>
      <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">로그인</a></li>
<!--      <li class="nav-item"><a href="/join" class="nav-link link-body-emphasis px-2">회원가입</a></li>-->
    </ul>

    <ul>
      <li class="nav-item"><a href="/logout" class="nav-link link-body-emphasis px-2">로그아웃</a></li>
<!--      <li class="nav-item"><a href="/myPage" class="nav-link link-body-emphasis px-2">[[|님|]]</a></li>-->
    </ul>
  </div>
</nav>